.banière {
  .contenaire {
    display: flex;
    align-items: center;
  }

  img {
    width: 90%;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 50px;
  }
}

.valeur {
  .card {
    display: flex;
    gap: 15px;
  }

  .carte {
    width: 850px;
    height: auto;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.equipe {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .carte {
    width: 350px;
    height: auto;
  }

  a {
    color: rgb(109, 152, 137);
  }
}

.projet {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  .carte {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #ddeee6;
    border-radius: 6px;
  }
}

.temoignage {
  img {
    border-radius: 10px;
  }

  .accordions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 40px;
  }

  .contentBx {
    height: 100%;
  }

  h3 {
    width: 550px;
  }

  .details {
    overflow: hidden;
    height: 0;
    transition: 0.5s;
    overflow-y: auto;
    padding-left: 50px;
  }

  .contentBx.active .details {
    height: 100%;
  }

  .gift {
    width: 20px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
  }

  .gift:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.pourquoiNous {
  h2 {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  .carte {
    width: 500px;
    height: auto;
    background: #fffde6;
  }
}

.contact {
  height: 70vh;
  position: relative;
  background-color: #ddeee6;
  .contenaire {
    background-color: #fffde6;
    width: 900px;
    height: auto;
    padding: 80px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fleche {
    background: #ddeee6;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(90% 1%, 100% 50%, 90% 100%, 0% 100%, 11% 49%, 0 0);
    font-weight: bold;
    margin-bottom: 20px;
  }

  span {
    z-index: 1;
    font-size: 1.5rem;
    font-family: "Syne";
  }

  .card {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .carte {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
  }

  h2 {
    margin-bottom: 20px;
  }

  a {
    border-bottom: #ddeee6;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }

  .btn,
  .btna {
    font-size: 1rem;
  }

  header ul {
    display: none;
  }

  .banière {
    padding-top: 70px;
    .contenaire {
      display: flex;
      flex-direction: column-reverse;
      max-width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .valeur {
    .contenaire {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .card {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .carte {
      width: 77%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .equipe {
    .contenaire {
      max-width: 100%;
      text-align: center;
      flex-direction: column;
    }

    img {
      width: 90%;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .services {
    .contenaire {
      max-width: 100%;
      text-align: center;
    }

    .li,
    .number,
    .para {
      display: none;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carte {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 350px;
    }
  }

  .projet {
    .contenaire {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 100%;
    }

    img {
      width: 90%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .temoignage {
    .contenaire {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 100%;
    }

    img {
      width: 90%;
      height: 90%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .accordions {
      display: flex;
      gap: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    h3 {
      margin-top: 20px;
    }

    .gift {
      padding-left: -5px;
    }

    .details p {
      border-left: 3px solid rgba(0, 0, 0, 0.2);
      padding-left: 1.2rem;
      text-align: left;
    }
  }

  .pourquoiNous {
    .contenaire {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contact {
    .contenaire {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 100%;
    }

    .fleche {
      width: 50%;
      height: 30px;
    }

    .card {
      flex-direction: column;
      align-items: center;
    }

    .carte {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 567px) {
  p,
  a {
    font-size: 1rem;
  }
  .btn,
  .btna {
    font-size: 0.8rem;
    padding: 15px 20px;
  }

  .navigo ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sociale a {
    padding: 15px;
    background-color: #ddeee6;
    margin: 2px;
    border-radius: 50%;
    transition: 0.5s;
  }

  .sociale a i {
    font-size: 1.5rem;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1025px) {
  /*section banière*/

  .banière {
    height: 100vh;
    position: relative;
    padding-top: 70px;

    .contenaire {
      display: flex;
      align-items: center;
      gap: 20px;
      background: #fffde6;
      width: 900px;
      height: auto;
      padding: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-63%, -50%);
    }

    .details {
      width: 80%;
    }

    .imgBx {
      width: 20%;
    }

    img {
      width: 450px;
      height: 650px;
    }
  }

  .valeur {
    height: 70vh;
    position: relative;

    .contenaire {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: #fffde6;
      width: 1000px;
      height: auto;
      padding: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-58%, -50%);
    }
  }

  .equipe {
    height: 100vh;
    position: relative;

    .contenaire {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      background: #fffde6;
      width: 1000px;
      height: auto;
      padding: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-58%, -50%);
      line-height: 1.8;
    }

    img {
      width: 450px;
      height: 550px;
      border-radius: 6px;
    }
  }

  .services {
    height: 100vh;
    position: relative;
    .contenaire {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      background: #fffde6;
      width: 900px;
      height: auto;
      padding: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card {
      display: flex;
      align-items: center;
      margin-top: -150px;
    }

    .carte {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .number {
      width: 30px;
      padding: 10px;
      text-align: center;
      border-radius: 6px;
      background-color: #ddeee6;
      font-weight: bold;
      margin-top: 40px;
    }

    .number p {
      font-size: 1.5rem;
    }

    .li {
      font-size: 5rem;
      color: #ddeee6;
      font-weight: bold;
      position: absolute;
      top: 57%;
      left: -12%;
      transform: scale(-50%, -50%);
      z-index: 1;
    }

    .para {
      color: #ddeee6;
    }

    .ligne:nth-child(2) {
      margin-top: 420px;
    }

    .number:nth-child(2) {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  .projet {
    height: 100vh;
    position: relative;

    .contenaire {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      background: #fffde6;
      width: 1000px;
      height: auto;
      padding: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-58%, -50%);
      line-height: 1.8;
    }

    img {
      width: 450px;
      height: 600px;
      border-radius: 6px;
    }

    h2 {
      line-height: normal;
      margin-bottom: 20px;
    }
  }

  .temoignage {
    position: relative;
    height: 80vh;
    .contenaire {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 50px;
      width: 900px;
      height: auto;
      padding: 80px;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-63%, -50%);
    }
  }

  .pourquoiNous {
    position: relative;
    height: 80vh;
    .contenaire {
      display: flex;
      flex-direction: column;
      gap: 100px;
      width: 900px;
      height: auto;
      padding: 80px;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ensemble {
      display: flex;
      gap: 20px;
    }

    .spa {
      background: #ddeee6;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 2rem;
      border-radius: 10px;
      padding: 5px;
    }

    span {
      font-weight: bold;
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    p {
      margin-left: 70px;
    }

    h2 {
      margin-bottom: 40px;
    }
  }

  .contact {
    height: 70vh;
    position: relative;
    background-color: #ddeee6;
    .contenaire {
      background-color: #fffde6;
      width: 900px;
      height: auto;
      padding: 80px;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fleche {
      background: #ddeee6;
      width: 100%;
      height: 50px;
      padding: 5px;
    }

    span {
      z-index: 1;
      font-size: 1.5rem;
      font-family: "Syne";
    }

    .card {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .carte {
      display: flex;
      flex-direction: column;
      width: 350px;
      height: auto;
    }

    h2 {
      margin-bottom: 20px;
    }

    a {
      border-bottom: #ddeee6;
    }
  }
}
